.felicitation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: max(1em, min(calc(100vw * 3 / 140), 4em));
  line-height: 1.6;
  white-space: pre-wrap;
}
