.error-page {
  position: relative;
  padding: 50px;
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.error-page__text {
  padding: 20px 0;
}

.error-page__link {
  padding-top: 30px;
  color: #fff;
}

.error-page__link:hover {
  text-decoration: underline;
}
